## Build
[Bb]in/
[Oo]bj/
artifacts/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
logs/
*.log
*.binlog

## Temporary Files
~$*
*~
*.tmp

## Lock files
project.lock.json
project.fragment.lock.json

## Scaffolding
ScaffoldingReadMe.txt

## NuGet
*.nupkg
*.snupkg
packages/

## Test Results
[Tt]est[Rr]esult*/
TestResults/
BuildLog.*
*.coverage
*.coveragexml
CodeCoverage/
TestStore/

## IDEs
.vs/
.vscode/
.idea/

# Rider
*.sln.iml

# VS
*.suo
*.user
*.userosscache
*.sln.docstates

## Design-Time, Index, Cache
*.vsidx
*.dtbcache.*
*.sdf
*.cache
*.tss
*.db

## GitHub Copilot
copilot-chat/
CopilotIndices/

## OS files
.DS_Store
Thumbs.db
desktop.ini
